*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.5rem;
}
.button-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.5rem;
}
.main-heading{
    text-align: center;
    margin-top: 1.5rem;
}