body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.weather-head {
  text-align: center;
}
.weather-heading {
  display: flex;
  gap: 1rem;
  list-style: none;
  cursor: pointer;
  flex-wrap: wrap;
  background-color: #ffc107;
  color: #fff;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
.main-container {
  width: 100%;
}

.center-container {
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(235, 201, 201, 0.2),
    0 6px 20px 0 rgba(199, 182, 182, 0.19);
  display: flex;
  justify-content: center;
  background-color: #ffc61a;
  padding: 1.5rem;
  gap: 1.2rem;
}
.left-container {
  padding: 1.5rem;
  width: 38%;
  background-color: #ff2516;
  box-shadow: 0 10px 12px 0 rgba(235, 201, 201, 0.2), 0 6px 20px 0 #72726c;
  border-radius: 10px;
  font-weight: 900;
  color: #fff;
}
.input-box {
  cursor: pointer;
  border: none;
  border-radius: 5px;
  padding: 15px 20px;
  font-size: 15px;
  font-weight: 700;
  box-shadow: 0 4px 8px #0003, 0 6px 20px #00000030;
}
.searchBtn {
  cursor: pointer;
  color: #673ab7;
  background-color: #ffea2d;
  border: none;
  border-radius: 5px;
  margin-left: 0.9rem;
  padding: 15px 20px;
  font-size: 12px;
  font-weight: 900;
}
.search-container {
  margin-top: 1.2rem;
  padding: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}
.display-part1 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1.2rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  border-radius: 10px;
  padding: 1rem;
  margin-top: 1rem;
}
.display-part2 {
  color: #ffeb3b;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  padding: 1rem;
  margin-top: 1rem;
  border-radius: 10px;
}
.display-part1 img {
  width: 38%;
}
.display-part1 h2 {
  font-size: 38px;
}
.rain-status {
  width: 15%;
}
.feels-like {
  width: 15%;
}
.right-container {
  padding: 1.5rem;
  width: 60%;
  background-color: #3f51b5;
  box-shadow: 0 10px 12px 0 rgba(235, 201, 201, 0.2), 0 6px 20px 0 #72726c;
  border-radius: 10px;
  font-weight: 900;
  color: #fff;
}
.other-weather-details {
  display: flex;
  flex-wrap: wrap;
  gap: 1.2rem;
  margin-top: 1.2rem;
}
.humidity {
  box-shadow: #141208 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  padding: 1.2rem;
  border-radius: 10px;
  color: #ffea2d;
}
.wind {
  box-shadow: #141208 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  padding: 1.2rem;
  border-radius: 10px;
  color: #ffea2d;
}
.uv-index {
  box-shadow: #141208 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  padding: 1.2rem;
  border-radius: 10px;
  color: #ffea2d;
}
.location-details {
  box-shadow: #141208 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  padding: 1.2rem;
  border-radius: 10px;
  color: #ffea2d;
}
.right-container-menu {
  display: flex;
  gap: 1rem;
  list-style: none;
  cursor: pointer;
  flex-wrap: wrap;
  background-color: #ffc107;
  color: #fff;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
.location-head {
  background-color: #ffc107;
  color: #fff;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
.three-day-main-container {
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(235, 201, 201, 0.2),
    0 6px 20px 0 rgba(199, 182, 182, 0.19);

  background-color: #ffc61a;
  padding: 1.5rem;
}
.three-day-container {
  padding: 1.5rem;
  width: 90%;
  background-color: #3f51b5;
  box-shadow: 0 10px 12px 0 rgba(235, 201, 201, 0.2), 0 6px 20px 0 #72726c;
  border-radius: 10px;
  font-weight: 900;
  color: #fff;
  margin-inline: auto;
}
.three-day-heading {
  background-color: #ffc107;
  color: #fff;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
.three-day-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 0.5rem;
  padding: 0.5rem;
  background-color: #673ab7;
  border: 2px solid #FFC107;
  border-radius: 10px;
}
.day-one-date {
  box-shadow: #141208 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  padding: 1.2rem;
  border-radius: 10px;
  color: #ffea2d;
  text-align: center;
}
.day-one-sunrise {
  box-shadow: #141208 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  padding: 1.2rem;
  border-radius: 10px;
  color: #ffea2d;
  text-align: center;
}
.day-one-condition {
  box-shadow: #141208 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  padding: 1.2rem;
  border-radius: 10px;
  color: #ffea2d;
  text-align: center;
}
.day-one-condition img {
  width: 50%;
}
.day-one-avgTemp {
  box-shadow: #141208 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  padding: 1.2rem;
  border-radius: 10px;
  color: #ffea2d;
  text-align: center;
}
.day-one-chanceOfRain {
  box-shadow: #141208 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  padding: 1.2rem;
  border-radius: 10px;
  color: #ffea2d;
  text-align: center;
}
.all-three {
  margin-top: 0.5rem;
}
@media (max-width: 790px) {
  .center-container {
    flex-direction: column;
  }

  .left-container {
    width: 100%;
    padding: 0.3rem;
  }

  .right-container {
    width: 100%;
    padding: 0.3rem;
  }
}

@media (max-width: 310px) {
  .search-container {
    padding: 0px;
  }
  .input-box {
    padding: 5px 10px;
  }
  .three-day-container{
    padding: 0.5rem;
  }
}
